.THIS.page-title{background: #ececec;
    padding: 8px 15px;
    border-radius: 5px 5px 0px 0px; font-size:16px; color:#000;}
.THIS .page-footer{background: #ececec;
    padding: 10px 15px; display: flow-root;}
.THIS.slds-card{border: none!important; border-radius: 0px!important;}
.THIS .slds-card__body{margin-bottom:0px!important;}

.THIS .float-right{float:right!important; text-align: right;}
.THIS .float-left{float:left!important; text-align: left;}
.THIS .uiInput--datetime{max-width:150px!important;}
.THIS .datePicker-openIcon{height:20px!important;}

.THIS.slds-table thead th{background:#f5f5f5}
.THIS .slds-form-element__control {
    border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .slds-modal__container{width: 53rem!important;}
.THIS .min-h300{min-height:320px; }
.THIS .slds-col{width:50%;}
.THIS .slds-grow{
    border-bottom: none!important;
}